{
	"useTabs": false,
	"singleQuote": true,
	"trailingComma": "none",
	"printWidth": 100,
	"plugins": ["prettier-plugin-svelte"],
	"pluginSearchDirs": ["."],
	"overrides": [{ "files": "*.svelte", "options": { "parser": "svelte" } }],
  "singleAttributePerLine": true,
  "svelteAllowShorthand": true,
  "svelteSortOrder": "options-scripts-markup-styles",
  "semi": false,
  "jsxSingleQuote": true
}
